.author-img {
    width: 100px;
}
.span-text{
    font-size: 14px;
}
.body-details, .game-time{
    background-color: #F94892;
    color: white;
}

.interval-btn{
    background-color: rgb(194, 194, 194);
    border: none;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.game-end-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 7px;
}

